.section {
  padding: 30px 0;
}
.header {
  font-size: 20px;
  margin-bottom: 60px;
}
.header span {
  display: block;
}
.video {
  margin-bottom: 30px;
}
.form {
  border: 5px solid #007bff;
  padding: 39px 20px;
}
.form input {
  margin-bottom: 12px;
}
.form-header,
.section-header {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 900;
}
.form-btn {
  margin: 10px auto;
}
.logo-advantage {
  height: 100px;
  width: auto;
}
.feature {
  margin-top: 40px;
}
.feature p {
  margin-top: 20px;
}
