/* Colors */

@btn-color: #fcb303;
@icons-color: #46b814;
@text: #1a1820;
@danger: #ff0000;
@bg-light: #f5f5f5;
@white: #ffffff;
@border-input: #dddddd;

/* Fonts */

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
  url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
  url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

.reg() {
  font-family: 'ProximaNova', sans-serif;
}

.bold() {
  font-family: 'ProximaNovaBold', sans-serif;
}

/* Basic settings */

html {
  font-size: 10px;
}

body {
  .reg();
  color: @text;
}

.button {
  background-color: @btn-color;
  color: @white;
  font-size: 1.2rem;
  padding: 1rem 0;
  border-radius: 8px;
  width: 100%;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

button, a, input, textarea {
  &:focus {
    outline: none;
  }
}

/*оформление форм*/

.form {
  &-input {
    position: relative;
    display: block;
    width: 100%;
    margin: 2rem 0;
    padding: 1.5rem;
    border: 1px solid @border-input;
  }

  label {
    position: absolute;
    left: 50%;
    z-index: 2;
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.3rem;
    background-color: @white;
    transform: translate(-50%, -50%);
  }

  &-btn {
    display: block;
    height: 5rem;
    font-size: 1.6rem;
  }
}

/* typography */

section {
  padding: 7rem 0 10rem;
}

.section-header {
  font-size: 3.6rem;
  margin: 2rem 0 10rem;
  text-align: center;
  &_light {
    color: @white;
  }
  h2 {
    .bold();
    font-size: 3.6rem;
  }
  p {
    font-size: 1.4rem;
    .reg();
  }
;
  .bold();
}

/* main */

.main {
  min-height: 100vh;
  padding: 3rem 0;
  background: #fff url("../images/main/bg-main.png") center center no-repeat;
  background-size: cover;
  border-bottom: 1px solid black;

  &-content {
    margin-top: 10rem;
  }

  h1 {
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1.45;
    .bold();
  }

  &-subtitle {
    margin-bottom: 4rem;
    font-size: 2.4rem;
  }

  span {
    display: inline-block;
    padding: 3rem 5rem;
    background-color: @icons-color;
    font-size: 1.8rem;
    color: @white;
    text-align: center;

    strong {
      font-size: 3rem;
    }
  }

  &-trigger {
    font-size: 2.2rem;
    text-transform: uppercase;
    .bold();
    display: block;
    margin-top: 4rem;
  }

  &-form {
    background-color: @white;
    padding: 4rem 5rem;
    text-align: center;

    &-header {
      margin-bottom: 4rem;
      font-size: 1.6rem;
    }

    small {
      display: block;
      margin-top: 1.5rem;
      font-size: 1rem;
    }
  }
}

/* header */

.header {
  height: 7rem;
}

.logo {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  color: @text;

  svg {
    display: block;
    border-radius: 50%;
    margin-right: 5px;
  }

  &:hover {
    text-decoration: none;
  }
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    &:first-child {
      .bold();
      font-size: 20px;
    }

    &:last-child {
      font-size: 11.5px;
    }
  }
}

.phone-link {
  display: block;
  color: @text;
  .bold();
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;

  &:hover {
    text-decoration: none;
  }
}

.wrap {
  display: table;
  width: 100%;
  height: 7rem;

  &-block {
    display: table-cell;
    vertical-align: middle;
  }
}

/* features */

.features {
  &-slider {
    position: relative;
  }

  &-block {
    text-align: center;
    cursor: grab;

    h3 {
      font-size: 2rem;
      .bold();
      margin-bottom: 3rem;
    }

    p {
      display: inline-block;
      width: 85%;
      font-size: 1.4rem;
    }

    &:focus {
      outline: none;
    }
  }

  &-img {
    height: 8rem;
    margin-bottom: 3rem;
  }

  &-arrow {
    position: absolute;
    top: 50%;
    z-index: 2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    color: @icons-color;
    font-size: 4rem;
    line-height: 2rem;
    cursor: pointer;
    transform: translateY(-50%);

    &:active {
      opacity: .5;
    }

    &:first-child {
      left: 0;
    }

    &:last-child {
      right: 0;
    }
  }
}

.price {
  background: @icons-color;

  &-header-btn {
    margin: 2rem 0;
    float: right;
  }

  &-block {
    min-height: 50rem;
    margin-bottom: 2rem;
    padding: 1rem 3rem 4rem;
    background-color: @white;
    box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, .17);
    text-align: center;

    h4 {
      font-size: 1.9rem;
      margin: 3rem 0;
      .bold();
    }

    img {
      display: block;
      width: 90%;
      height: auto;
      margin: 0 auto 2rem;
    }
  }

  &-tag {
    display: block;
    margin-bottom: 2rem;
    font-size: 1.9rem;
    .bold();
  }

  &-list {
    list-style: none;
    padding: 0;
    min-height: 14rem;
    font-size: 1.6rem;
    line-height: 1.6;

    & li::before {
      content: '\2714';
      color: @icons-color;
      margin-right: .3rem;
    }
  }
}

.feedback {
  &-slider {
    padding: 5rem 6rem;
    background: whitesmoke;
    box-shadow: 6px 10px 18px 0 rgba(0, 0, 0, 0.11);
    .media {
      margin-top: 3rem;
    }
    .mt-0 {
      .bold();
      font-size: 1.4rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
  &-slider_item {
    outline: none;
  }
  &-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  &-text {
    position: relative;
    margin-top: 1rem;
    padding: 2.2rem 1rem 1rem;
    color: @white;
    font-style: italic;
    font-size: 1.2rem;
    background: @icons-color;
    -webkit-clip-path: polygon(9% 20%, 9% 5%, 12% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%);
    clip-path: polygon(9% 20%, 9% 5%, 12% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%);
  }
  &-form {
    margin-top: 5rem;
    padding: 4rem 10rem;
    text-align: center;
    border: 1px solid whitesmoke;
    h3 {
      margin-bottom: 1rem;
      .bold();
      font-size: 1.6rem;
    }
    label {
      transform: translate(-50%, 6px);
    }

    button {
      max-width: 30rem;
      margin: auto;
    }
  }
}

/*modal windows*/

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, .5);

  &-content {
    position: fixed;
    left: 50%;
    top: 10%;
    width: 30rem;
    text-align: center;
    background-color: @white;
    transform: translateX(-50%);
    padding: 4rem 4rem;
  }

  &-form {
    padding: 0;
  }

  &-close {
    position: absolute;
    top: -1.5rem;
    right: -2rem;
    width: 2rem;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 3rem;
    color: @white;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  &-header {
    .bold();
  }
}

@media only screen and (max-width: 770px) {
  .section-header {
    margin: 2rem 0 3rem;
  }
}

