/* Colors */
/* Fonts */
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova', sans-serif;
  color: #1a1820;
}
.button {
  background-color: #fcb303;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 1rem 0;
  border-radius: 8px;
  width: 100%;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none;
}
/*оформление форм*/
.form-input {
  position: relative;
  display: block;
  width: 100%;
  margin: 2rem 0;
  padding: 1.5rem;
  border: 1px solid #dddddd;
}
.form label {
  position: absolute;
  left: 50%;
  z-index: 2;
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.form-btn {
  display: block;
  height: 5rem;
  font-size: 1.6rem;
}
/* typography */
section {
  padding: 7rem 0 10rem;
}
.section-header {
  font-size: 3.6rem;
  margin: 2rem 0 10rem;
  text-align: center;
  font-family: 'ProximaNovaBold', sans-serif;
}
.section-header_light {
  color: #ffffff;
}
.section-header h2 {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
  font-family: 'ProximaNova', sans-serif;
}
/* main */
.main {
  min-height: 100vh;
  padding: 3rem 0;
  background: #ffffff url("../images/main/bg-main.png") center center no-repeat;
  background-size: cover;
  border-bottom: 1px solid black;
}
.main-content {
  margin-top: 10rem;
}
.main h1 {
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 1.45;
  font-family: 'ProximaNovaBold', sans-serif;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  background-color: #46b814;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}
.main span strong {
  font-size: 3rem;
}
.main-trigger {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNovaBold', sans-serif;
  display: block;
  margin-top: 4rem;
}
.main-form {
  background-color: #ffffff;
  padding: 4rem 5rem;
  text-align: center;
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
}
/* header */
.header {
  height: 7rem;
}
.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1a1820;
}
.logo svg {
  display: block;
  border-radius: 50%;
  margin-right: 5px;
}
.logo:hover {
  text-decoration: none;
}
.logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.logo-text p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.logo-text p:first-child {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 20px;
}
.logo-text p:last-child {
  font-size: 11.5px;
}
.phone-link {
  display: block;
  color: #1a1820;
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
}
.phone-link:hover {
  text-decoration: none;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
/* features */
.features-slider {
  position: relative;
}
.features-block {
  text-align: center;
  cursor: -webkit-grab;
  cursor: grab;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNovaBold', sans-serif;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 85%;
  font-size: 1.4rem;
}
.features-block:focus {
  outline: none;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  color: #46b814;
  font-size: 4rem;
  line-height: 2rem;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.features-arrow:active {
  opacity: .5;
}
.features-arrow:first-child {
  left: 0;
}
.features-arrow:last-child {
  right: 0;
}
.price {
  background: #46b814;
}
.price-header-btn {
  margin: 2rem 0;
  float: right;
}
.price-block {
  min-height: 50rem;
  margin-bottom: 2rem;
  padding: 1rem 3rem 4rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block h4 {
  font-size: 1.9rem;
  margin: 3rem 0;
  font-family: 'ProximaNovaBold', sans-serif;
}
.price-block img {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto 2rem;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: 'ProximaNovaBold', sans-serif;
}
.price-list {
  list-style: none;
  padding: 0;
  min-height: 14rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li::before {
  content: '\2714';
  color: #46b814;
  margin-right: .3rem;
}
.feedback-slider {
  padding: 5rem 6rem;
  background: whitesmoke;
  -webkit-box-shadow: 6px 10px 18px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0 rgba(0, 0, 0, 0.11);
}
.feedback-slider .media {
  margin-top: 3rem;
}
.feedback-slider .mt-0 {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 1.4rem;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider_item {
  outline: none;
}
.feedback-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.feedback-text {
  position: relative;
  margin-top: 1rem;
  padding: 2.2rem 1rem 1rem;
  color: #ffffff;
  font-style: italic;
  font-size: 1.2rem;
  background: #46b814;
  -webkit-clip-path: polygon(9% 20%, 9% 5%, 12% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%);
  clip-path: polygon(9% 20%, 9% 5%, 12% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%);
}
.feedback-form {
  margin-top: 5rem;
  padding: 4rem 10rem;
  text-align: center;
  border: 1px solid whitesmoke;
}
.feedback-form h3 {
  margin-bottom: 1rem;
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 1.6rem;
}
.feedback-form label {
  -webkit-transform: translate(-50%, 6px);
          transform: translate(-50%, 6px);
}
.feedback-form button {
  max-width: 30rem;
  margin: auto;
}
/*modal windows*/
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  width: 30rem;
  text-align: center;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 4rem;
}
.popup-form {
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
  cursor: pointer;
}
.popup-close:focus {
  outline: none;
}
.popup-header {
  font-family: 'ProximaNovaBold', sans-serif;
}
@media only screen and (max-width: 770px) {
  .section-header {
    margin: 2rem 0 3rem;
  }
}
